---
import { ContentSection } from "@modules/ContentSection";
import Layout from "../layouts/Layout.astro";
import { FadeIn } from "@utils/animations/FadeIn";
import { Button } from "@components/Button";
---

<Layout
    title="404 | Page not found"
    description="The page you are looking for might have been removed, had its name changed, or is temporarily unavailable."
>
    <main class="page-content">
        <ContentSection
            style={{
                maxWidth: "600px",
                margin: "0 auto",
                minHeight: "850px",
                textAlign: "center",
                display: "flex",
                flexDirection: "column",
                justifyContent: "center",
                alignItems: "center",
            }}
        >
            <FadeIn client:visible>
                <h1>¡Vaya, lo siento! Error: 404</h1>
                <p>
                    Es posible que la página que está buscando se haya eliminado, que se haya cambiado de nombre o que no esté disponible temporalmente.
                </p>

                <Button variant="secondary" link="/" align="center">
                    Volver
                </Button>
            </FadeIn>
        </ContentSection>
    </main>
</Layout>
