---
import { ContentSection } from "@modules/ContentSection";
import Layout from "../layouts/Layout.astro";
import { FadeIn } from "@utils/animations/FadeIn";
import { BoxOffers } from "@modules/BoxOffers";
import { Container } from "@components/Container";
import { Hero } from "@modules/Hero";
import { Team } from "../modules/Team/Team"; 
---
<style>
    .hero-separator {
    width: 100%;
    height: 1px; /*  L铆nea delgada para un aspecto minimalista */
    background: #e0e0e0; /*  Color s贸lido y suave */
    margin: 40px 0; /*  Espaciado equilibrado */
    border: none; /*  Elimina cualquier borde por defecto */
}



</style>
<Layout
    title="Accionar Chile | Sobre Nosotros"
    description="Conoce nuestra misi贸n y visi贸n para transformar vidas a trav茅s del coaching y el desarrollo personal."
>
    <main class="page-content">
        <!-- Secci贸n de Presentaci贸n -->
        <ContentSection
            style={{
                maxWidth: "600px",
                margin: "0 auto",
            }}
        >
            <FadeIn client:visible>
                <h1>Sobre Nosotros</h1>
                <p>
                    En <b>Accionar Chile</b>, creemos en el potencial ilimitado de cada persona. Nuestra misi贸n es 
                    proporcionar herramientas pr谩cticas de desarrollo personal y fomentar una comunidad colaborativa 
                    orientada a la transformaci贸n personal y comunitaria.
                </p>
            </FadeIn>
        </ContentSection>

        <div class="hero-separator"></div>
        <!-- Secci贸n Misi贸n -->
        <Hero
            heroType="textImage"
            client:load
            content={{
                switchPlaces: true,
                title: `Nuestra Misi贸n`,
                paragraph: `
                    Impartimos Programas de Coaching con herramientas pr谩cticas de Desarrollo Personal, 
                    para que nuestros clientes logren <b>conectar con su poder interior</b> y vivir en su m谩xima posibilidad.  
                    Adem谩s, fomentamos una <b>Comunidad Colaborativa Cont铆nua</b> enfocada en alcanzar 
                    objetivos tanto personales como comunitarios.
                `,
                image: {
                    src: "https://fastly.picsum.photos/id/177/2515/1830.jpg?hmac=G8-2Q3-YPB2TreOK-4ofcmS-z5F6chIA0GHYAe5yzDY",
                    alt: "Imagen Misi贸n Accionar Chile",
                    width: 300,
                    height: 300,
                },
            }}
        />

        <div class="hero-separator"></div>

        <!-- Secci贸n Visi贸n -->
        <Hero
            heroType="textImage"
            client:load
            content={{
                title: `Nuestra Visi贸n`,
                paragraph: `
                    Nuestra visi贸n es <b>elevar el Nivel de Consciencia en el Mundo</b>, 
                    inspirando a las personas a descubrir su verdadero potencial y transformar sus vidas.
                    Creemos en un mundo donde cada persona pueda conectar con su poder y vivir en su m谩xima posibilidad.
                `,
                image: {
                    src: "https://fastly.picsum.photos/id/590/2509/1673.jpg?hmac=vEBLENwYzTlbst-H4mEN9tHIQ2vilSYsp7JWVeIGD84",
                    alt: "Imagen Visi贸n Accionar Chile",
                    width: 300,
                    height: 300,
                },
            }}
        />
        <div class="hero-separator"></div>

        
        <Team client:load />
        <div class="hero-separator"></div>


        <!-- Secci贸n Valores de Accionar Chile -->
        <section id="values">
            <Container>
            <FadeIn client:visible>
                <h2> </h2>
                <h2>Nuestros Valores</h2>
            </FadeIn>
            </Container>

            <BoxOffers
                client:load
                boxes={[
                    {
                        content: `
                        <h2>Crecimiento Personal</h2>
                        <p>Facilitamos el desarrollo de habilidades que potencian la transformaci贸n personal y profesional.</p>
                        `,
                    },
                    {
                        content: `
                        <h2>Comunidad y Colaboraci贸n</h2>
                        <p>Creemos en el poder del apoyo mutuo para alcanzar metas individuales y colectivas.</p>
                        `,
                    },
                    {
                        content: `
                        <h2>Conciencia y Evoluci贸n</h2>
                        <p>Promovemos un enfoque consciente en la vida y el trabajo para lograr cambios significativos.</p>
                        `,
                    },
                ]}
            />
        </section>

        <div class="hero-separator"></div>

        <!-- Secci贸n Redes Sociales -->
        <Container>
            <FadeIn client:visible>
                <h2> </h2>
                <h2>Con茅ctate con nosotros</h2>
                <p>S铆guenos en nuestras redes sociales para conocer m谩s sobre nuestra comunidad y eventos.</p>
            </FadeIn>
        </Container>

        <BoxOffers
            client:load
            boxes={[
                {
                    asLink: true,
                    href: "https://www.facebook.com",
                    content: `
                        <h3>Facebook</h3>
                    `,
                },
                {
                    asLink: true,
                    href: "https://www.linkedin.com/c",
                    content: `
                        <h3>LinkedIn</h3>
                    `,
                },
                {
                    asLink: true,
                    href: "https://www.twitter.com",
                    content: `
                        <h3>Twitter</h3>
                    `,
                },
            ]}
        />
    </main>
</Layout>
