---
import { Hero } from "@modules/Hero";
import Layout from "../layouts/Layout.astro";
import { LogosSlider } from "@modules/LogosSlider";
import { LeadTexts } from "@modules/LeadTexts";

import { BoxOffers } from "@modules/BoxOffers";
import { ContentSection } from "@modules/ContentSection";
import { FadeIn } from "@utils/animations/FadeIn";
import { Contact } from "@modules/Contact";
---

<Layout title="Accionar Chile" description="Red Colaborativa">
    <main class="page-content">
        <Hero
            heroType="textImage"
            client:load
            content={{
                title: `Accionar Chile <span style="color: #ff8601;">Coaching</span> que impulsa tu éxito.`,
                paragraph: `¡Conecta con Tu Poder! y Vive en Tu Máxima posibilidad!`,
                buttons: [
                    {
                        link: "#Contacto",
                        text: "Contáctanos",
                        variant: "secondary",
                    },
                    {
                        link: "#Servicios",
                        text: "Más Información",
                        variant: "primary",
                    },
                ],
                image: {
                    srcLocal: "heroImg",
                    alt: "Imagen HomeHero ",
                    width: 300,
                    height: 300,
                },
            }}
        />
        <LogosSlider client:load />
        <ContentSection
            style={{
                maxWidth: "600px",
                margin: "0 auto",
            }}
        >
            <FadeIn client:visible>
                <h2>¿Por qué elegirnos?</h2>
                <p>
                    No solo te acompañamos en tu crecimiento individual, sino que también fomentamos una comunidad colaborativa donde el aprendizaje y el apoyo mutuo son la clave para lograr objetivos personales y colectivos.
                </p>
            </FadeIn>
        </ContentSection>
        <div id="Servicios">
            <BoxOffers
                client:load
                boxes={[
                    {
                        content: `
                        <h2>Coaching con propósito</h2>
                        <p>Te guiamos en un proceso de transformación real y significativo.</p>
                        `,
                    },
                    {
                        content: `
                        <h2>Herramientas prácticas</h2>
                        <p>Técnicas aplicables a tu vida diaria para potenciar tu desarrollo.</p>
                        `,
                    },
                    {
                        content: `
                        <h2>Acompañamiento continuo</h2>
                        <p>No estás solo en este camino; formamos parte de tu evolución.</p>
                        `,
                    },
                ]}
            />
        </div>
        <LeadTexts
            client:load
            title="Nuestros Servicios"
            contentText={[
                {
                    content: `
                        <h3>
                            <b>Programa de Coaching para adolescentes</b> - Acompañamiento y desarrollo personal para potenciar habilidades, seguridad y toma de decisiones en jóvenes.
                        </h3>
                    `,
                },
                {
                    content: `
                        <h3>
                            <b>Escuela para padres</b> - Herramientas efectivas para fortalecer la comunicación y la crianza consciente en la familia.
                        </h3>
                    `,
                },
                {
                    content: `
                        <h3>
                            <b>Programa de Coaching para emprendedores y networking</b> - Estrategias y mentoría para impulsar negocios, fortalecer habilidades y crear conexiones valiosas.
                        </h3>
                    `,
                },
                {
                    content: `
                        <h3>
                            <b>Organización de grandes eventos con conferencistas internacionales</b> - Eventos exclusivos con expertos de talla mundial en desarrollo personal y profesional.
                        </h3>
                    `,
                },
                {
                    content: `
                        <h3>
                            <b>Programas de coaching para empresas</b> - Capacitación y desarrollo de equipos para mejorar el liderazgo, la productividad y el bienestar organizacional.
                        </h3>
                    `,
                },
                {
                    content: `
                        <h3>
                            <b>Programa de Coaching para personas de la tercera edad</b> - Acompañamiento para redescubrir nuevas oportunidades, fortalecer el bienestar y la calidad de vida en esta etapa.
                        </h3>
                    `,
                },
                {
                    content: `
                        <h3>
                            <b>Coaching para parejas</b> - Mejora de la comunicación, resolución de conflictos y fortalecimiento del vínculo en la relación.
                        </h3>
                    `,
                },
                {
                    content: `
                        <h3>
                            <b>Escuela para entrenadores</b> - Formación especializada para quienes desean convertirse en coaches profesionales y guiar a otros en su transformación.
                        </h3>
                    `,
                },
                {
                    content: `
                        <h3>
                            <b>Talleres de Inteligencia Financiera</b> - Educación y estrategias prácticas para una gestión financiera consciente y efectiva.
                        </h3>
                    `,
                },

            ]}
        />
        <div id="Contacto"><Contact client:load /></div>
        
    </main>
</Layout>
